* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  height: 100%;
  font-family: "Libre Franklin", sans-serif;
}

main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8fr 10fr 3fr;
  max-width: 70rem;
  margin: 0 auto;
  gap: 3rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.text-box h1 {
  font-size: 4rem;
  font-weight: 300;
  color: hsl(0, 0%, 59%);
}

.text-box span {
  color: hsl(209, 33%, 12%);
  font-weight: 700;
}

.text-box p {
  font-size: 1.4rem;
  padding: 1rem 0;
  font-weight: 300;
  color: hsl(209, 33%, 12%);
}

form {
  margin: 0 auto;
  width: 65%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;
}

form input {
  padding: 1rem 2rem;
  grid-column: 1 / span 2;
  border: 1px solid hsl(0, 0%, 59%);
  border-radius: 2rem;
}

input:focus {
  outline: hsl(0, 6%, 24%) 1px solid;
}

/* UTILITIES USED TO MAKE THE JS VERIFICATION POSSIBLE */
.form-error {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  padding-left: 2rem;
  color: white;
}

.hidden {
  color: red;
}

.border-error {
  border: 1px solid red;
}

.email-button {
  width: 100%;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  background: hsl(223, 87%, 63%);
  color: #fff;
  border-radius: 2rem;
  box-shadow: 0 2px 5px hsl(223, 100%, 88%);
}

.email-button:hover {
  box-shadow: 0 4px 5px hsl(223, 100%, 88%);
  transform: scale(1.05);
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 80%;
  margin: 0 auto;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.links {
  display: flex;
  gap: 1rem;
  list-style: none;
  font-size: 1.2rem;
}

.link {
  border: 0.05rem solid hsl(0, 0%, 59%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  text-align: center;
  border-radius: 50%;
}

.link:hover {
  background: hsl(223, 87%, 63%);
}

.link:hover > a {
  color: #fff;
}

.link a {
  color: hsl(223, 87%, 63%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(223, 87%, 63%);
  font-weight: 600;
}

/* MEDIA QUERIES */
/* 704px */
@media (max-width: 44em) {
  form {
    max-height: 10rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    column-gap: 0;
  }

  .form-error {
    grid-row: 2 / span 1;
  }

  .email-button {
    grid-row: 3 / span 3;
    width: 100%;
  }

  .image-container img {
    width: 80%;
  }
}

/* 512px */
@media (max-width: 32em) {
  main {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10fr 8fr 3fr;
    max-width: 70rem;
    margin: 0 auto;
    gap: 3rem;
  }
  form {
    width: 75%;
  }

  .text-container {
    padding: 0 2rem;
  }

  .text-box h1 {
    font-size: 3rem;
  }

  .text-box p {
    font-size: 1.3rem;
  }
  .image-container img {
    width: 90%;
  }
}
/* 352px */
@media (max-width: 22em) {
  .image-container {
    padding: 0 1rem;
  }
  .image-container img {
    width: 100%;
  }
}
